<form [formGroup]="productForm" (ngSubmit)="createProduct()">
  <div>
    <mat-form-field>
      <input formControlName="name" placeholder="Name" [matAutocomplete]="productsAuto" required matInput />
      <mat-error>The name is not valid</mat-error>
    </mat-form-field>
    <mat-autocomplete #productsAuto="matAutocomplete">
      <mat-option *ngFor="let product of products$ | async" [value]="product.name">
        {{product.name}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div>
    <mat-form-field>
      <input formControlName="price" placeholder="Price" required matInput />
      <mat-error>The price is required</mat-error>
      <mat-hint>
        Price should be between 1 and 10000
      </mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" placeholder="Production date" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">Create</button>
  </div>
</form>
